project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "!log.qmd"
    - "!Books/Js4R/*"
    - "!Books/Tidy Modeling with R/19*"
    - "!Books/Tidy Modeling with R/20*"
    - "!Books/Tidy Modeling with R/21*"

language:
  search-text-placeholder: Search

website:
  # 设置搜索
  search:
    location: navbar
    type: overlay
    copy-button: true

  # 添加评论区
  comments:
    utterances:
      repo: hanguojun007/Blog
      # label: utterances
      # issue-term: og:title

  bread-crumbs: true # 显示路径
  page-navigation: true # 上一页，下一页
  back-to-top-navigation: true # 返回顶部
  reader-mode: true # 阅读者模式
  # page-footer: "Copyright 2025 RSSPhto"
  margin-footer: | # 侧边栏脚注
    ![](/logo.jpg){width="200px" .conditional-footer}
  navbar:
    title: RSSPtho
    # logo: logo.jpg
    background: "#7db6bf"
    # foreground: "#ffffff"
    # 是否固定导航栏
    pinned: true

    # 极端情况导航栏显示设置
    collapse: true
    collapse-below: lg
    toggle-position: left
    tools-collapse: true

    # 工具栏
    tools:
      - icon: github
        href: https://github.com/hanguojun007/Blog

    # 菜单栏
    left:
      - text: Home
        href: index.qmd
      - text: Books
        menu:
          - sidebar:ggplot2
          - sidebar:R4DS2
          - sidebar:TiMoR
          - sidebar:AdR2
          - sidebar:quarto
          - sidebar:Js4R
      - text: Blog
        href: blog.qmd
      - about.qmd

  # sidebar:
  # #   # 第一个siderbar的style设置会传递到后面的
  #   style: floating
  #   background: light
    # collapse-level: 3

metadata-files:
  - Books/ggplot2/_metadata.yml
  - Books/R4DS2/_metadata.yml
  - Books/Tidy Modeling with R/_metadata.yml
  - Books/Advanced R(2e)/_metadata.yml
  - Books/quarto/_metadata.yml
  - Books/Js4R/_metadata.yml


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    toc_float: true

execute:
  freeze: auto
